.video-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* audio::-webkit-media-controls-timeline, */
.video-play::-webkit-media-controls-timeline,
.video-pause::-webkit-media-controls-timeline {
  display: none;
}
.video-play,
.video-pause {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.video-pause::-webkit-media-controls-time-remaining-display,
.video-pause::-webkit-media-controls-current-time-display,
.video-play::-webkit-media-controls-time-remaining-display,
.video-play::-webkit-media-controls-current-time-display {
  display: none !important;
}
.play-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the play icon */
.play-icon:before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("/svg/watch/play-video.svg"); /* Change this to your custom image */
  background-size: cover;
}
.playing {
  display: none;
}

@media (max-width: 56.25rem) {
  .video-play {
    border-radius: 0;
  }
  .video-pause {
    border-radius: 0.625rem;
  }
}
