.container {
  background: #f2f3f5;
  padding: 7.304rem 11.22rem 10.56rem 9.33rem;
}

.title {
  color: #000000;
  font-size: 1.98rem;
  line-height: 1.32rem;
  font-weight: 700;
  font-family: "Public Sans";
  margin-bottom: 0.7224rem;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.first,
.second {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
