.container {
  background: #ffffff;
  border-radius: 13.2px;
  width: 25.68rem;
  padding: 1.1rem 0.99rem 7.36rem;
}

.details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5996rem;
  width: 100%;
}

.input-group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.21rem;
  width: 100%;
}

.label {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.32rem;
  font-family: "Public Sans";
  color: #000000;
}

.input {
  background-color: rgba(123, 151, 206, 0.06);
  height: 2.64rem;
  width: 100%;
  border-radius: 0.44rem;
  padding: 0.77rem 0.88rem;
  font-weight: 500;
  font-size: 0.88rem;
  line-height: 1.144rem;
  font-family: "Public Sans";
  border: 1px solid #007bff;
}
