.forget-password {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {
  color: #26334d;
  font-weight: 700;
  font-family: RobotoBold;
  font-size: 3rem;
  line-height: 4.3rem;
  text-align: center;
}
.logo-wrapper {
  width: 6.437rem;
  height: 6.437rem;
  border-radius: 50%;
  background-color: #0d111a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-button {
  background: #3361ff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.93rem;
  color: white;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
  font-family: RobotoBold;
  width: 25rem;
  cursor: pointer;
}
