.container {
  background: #ffffff;
  border-radius: 13.2px;
  width: 32.01rem;
  padding: 1.21rem 1.32rem 1.54rem;
}

.title {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.32rem;
  color: #000000;
  font-family: "Public Sans";
  margin-bottom: 0.9424rem;
}

.input {
  background-color: rgba(123, 151, 206, 0.06);
  height: 2.64rem;
  width: 100%;
  border-radius: 0.44rem;
  padding: 0.77rem 0.88rem;
  font-weight: 500;
  font-size: 0.88rem;
  line-height: 1.144rem;
  font-family: "Public Sans";
  border: 1px solid rgba(0, 123, 255, 0.94);
}
