.container {
  background: #ffffff;
  border-radius: 13.2px;
  width: 24.97rem;
  padding: 1.21rem 1.32rem 2.55rem;
}

.title {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.32rem;
  color: #000000;
  font-family: "Public Sans";
}

.details {
  margin-top: 0.99rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 12.32px;
  width: 100%;
}

.input {
  background-color: rgba(123, 151, 206, 0.06);
  height: 2.64rem;
  width: 100%;
  border-radius: 0.44rem;
  padding: 0.77rem 0.88rem;
  font-weight: 500;
  font-size: 0.88rem;
  line-height: 1.144rem;
  font-family: "Public Sans";
  border: 1px solid rgba(0, 123, 255, 0.94);
}
.save {
  background: #4340da;
  border-radius: 0.44rem;
  margin: 1.5rem auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.8rem;
  color: white;
  font-weight: 500;
  font-size: 0.8184rem;
  font-family: "Roboto Condensed";
  font-weight: 500;
  cursor: pointer;
}
