.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 9.24rem;
  margin-bottom: 2.64rem;
}

.label {
  font-weight: 352;
  font-size: 1.1rem;
  line-height: 1.32rem;
  letter-spacing: 0.88%;
  color: rgba(50, 60, 71, 0.6);
  margin-bottom: 0.99rem;
}

.details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.76rem;
}

.details-wrapper {
  display: flex;
  align-items: center;
  gap: 20.24px;
}
