.container {
  width: 50%;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 2.15rem;
  margin-top: 2.6rem;
}
.toggler {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.toggler-wrapper {
  display: flex;
  align-items: center;
  gap: 0.44rem;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 14.08px;
  width: 51.04px;
  height: 28.16px;
  position: relative;
  vertical-align: middle;
  transition: all 0.22s;
}

.toggle-switch:before,
.toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 0.88px rgba(0, 0, 0, 0.22);
  width: 21.12px;
  height: 21.12px;
  position: absolute;
  top: 3.52px;
  left: 3.52px;
  transition: left 0.22s;
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.44);
}

.toggle-checkbox:checked + .toggle-switch {
  background: #4c34c2;
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 26.4px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  color: #000;
  text-align: center;
  font-family: "Roboto";
  font-size: 1.32rem;
  font-weight: 700;
}
.team-name {
  color: #000;
  font-family: "Public Sans";
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.25rem; /* 120% */
  margin-top: 1rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
}

.player-data {
  display: flex;
  flex-direction: column;
  gap: 0.83rem;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.88rem;
}
.label {
  color: #000;
  font-family: "Public Sans";
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
}
.input {
  display: flex;
  width: 13.2rem;
  padding: 0.55rem 1rem;
  align-items: center;
  border-radius: 0.44rem;
  border: 1px solid #d0d0d0;
  background: rgba(123, 151, 206, 0.06);
  color: #000;
  font-family: "Public Sans";
  font-size: 0.88rem;
  font-style: normal;
  font-weight: 500;
}
.genders {
  display: flex;
  flex-direction: column;
  gap: 0.66rem;
}
.genders div {
  display: flex;
  align-items: center;
  width: 25%;
  justify-content: space-between;
  cursor: pointer;
}
.gender-text {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Public Sans";
  font-size: 0.88rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 131.25% */
}
.not-checked,
.checked {
  width: 8.8px;
  height: 8.8px;
  background: #c0c0c0;
}
.checked {
  background: #007bff;
  outline: 2px solid #007bff;
  outline-offset: 3px;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  margin-top: 4.07rem;
}
.action-buttons button {
  display: flex;
  width: 9.13rem;
  height: 1.98rem;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.15px;
  cursor: pointer;
}
.add-button {
  background: #4340da;
}
.remove-button {
  background: #da4040;
}
