.container {
  padding: 1.21rem 1.32rem 2.64rem;
  background-color: #ffffff;
  border-radius: 13.2px;
  width: 40.832rem;
  height: 100%;
}

.title {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.32rem;
  color: #000000;
  font-family: "Public Sans";
}

.details-first {
  display: flex;
  align-items: center;
  gap: 1.54rem;
  margin-top: 1.32rem;
  margin-bottom: 1.125rem;
  width: 100%;
}
.left-wrapper,
.right-wrapper {
  width: 50%;
}
.left-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.left-wrapper .input-group:last-child {
  width: 40%;
}

.details-second {
  display: flex;
  align-items: center;
  gap: 1.54rem;
  justify-content: space-between;
  width: 100%;
}

.input-group {
  flex-grow: 1;
}

.groups-wrapper {
  display: flex;
  align-items: center;
  gap: 1.65rem;
}

.input-group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.99rem;
}

.label {
  color: #909090;
  font-weight: 600;
  font-size: 0.66rem;
  line-height: 0.88rem;
  font-family: "Public Sans";
}

.input {
  background: rgba(123, 151, 206, 0.06);
  border: 1px solid #dbdbdb;
  border-radius: 0.44rem;
  padding: 0.748rem 0.88rem;
  font-weight: 500;
  font-size: 0.88rem;
  line-height: 1.144rem;
  font-family: "Public Sans";
}
