.container {
  width: 51.645rem;
  padding: 1.21rem 1.265rem 1.485rem;
  background: #ffffff;
  border-radius: 0.825rem;
}
.title {
  font-family: "Public Sans";
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.32rem;
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 0.95rem;
}
.input {
  width: 47.2rem;
  height: 2.64rem;
  padding: 0 0.88rem;
  background: rgba(123, 151, 206, 0.06);
  border: 1px solid #007bff;
  border-radius: 0.44rem;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.825rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #000000;
  display: flex;
  align-items: center;
}
