.container {
  width: 81.6rem;
  border-radius: 0.85rem;
  background: #fff;
  padding: 1.1rem 1.76rem;
  margin-top: 2rem;
}
.title {
  color: #000;
  font-family: "Public Sans";
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 120% */
}
.wrapper {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggler {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
}
.toggler-wrapper {
  display: flex;
  align-items: center;
  gap: 0.44rem;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 14.08px;
  width: 51.04px;
  height: 28.16px;
  position: relative;
  vertical-align: middle;
  transition: all 0.22s;
}

.toggle-switch:before,
.toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 0.88px rgba(0, 0, 0, 0.22);
  width: 21.12px;
  height: 21.12px;
  position: absolute;
  top: 3.52px;
  left: 3.52px;
  transition: left 0.22s;
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.44);
}

.toggle-checkbox:checked + .toggle-switch {
  background: #4c34c2;
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 26.4px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  color: #000;
  text-align: center;
  font-family: "Roboto";
  font-size: 1.32rem;
  font-weight: 700;
}
