.sports-listings-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 12.1rem;
  margin-bottom: 2.64rem;
}
.buttons{
  display: flex;
  align-items: center;
  gap: 2rem ;
}
.delete-old-data {
  border-radius: 0.44rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  height: 2.2rem;
  color: white;
  font-weight: 500;
  font-size: 0.8184rem;
  font-family: "Roboto Condensed";
  font-weight: 500;
  cursor: pointer;
  background: #da4040;
}
