.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2.2rem;
  }
  
  .details {
    display: flex;
    align-items: flex-start;
    gap: 1.144rem;
    margin-top: 2.2rem;
  }
  
  .sub-heading {
    color: #000000;
    font-size: 1.65rem;
    line-height: 1.32rem;
    font-weight: 500;
    font-family: "Public Sans";
    margin-bottom: 1.1rem;
  }
  