.container {
  background: #ebebeb;
  padding: 7.39rem 8.98rem 10.56rem 12.32rem;
}
.title {
  color: #000000;
  font-size: 1.98rem;
  line-height: 1.32rem;
  font-weight: 700;
  font-family: "Public Sans";
  margin-bottom: 4.72rem;
}
