.container {
  background: #f2f3f5;
  padding: 7.3rem 11.71rem 10.56rem 9.33rem;
}
.title {
  color: #000000;
  font-size: 1.98rem;
  line-height: 1.32rem;
  font-weight: 700;
  font-family: "Public Sans";
  margin-bottom: 5.5rem;
}
