.container {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 1.7rem 4rem;
  background-color: white;
  border-radius: 0.85rem;
  gap: 1rem;
}
.title {
  color: #000;
  font-family: "Public Sans";
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 2.64rem;
}
.langs {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.7rem;
}
.lang {
  display: flex;
  align-items: flex-start;
}
.lang-name {
  color: #000;
  font-family: "Public Sans";
  font-size: 0.88rem;
  font-style: normal;
  font-weight: 500;
  width: 5rem;
}
.toggler-wrapper {
  display: flex;
  align-items: center;
  gap: 0.44rem;
  margin-right: 1.8rem;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 14.08px;
  width: 28px;
  height: 16px;
  position: relative;
  vertical-align: middle;
  transition: all 0.22s;
}

.toggle-switch:before,
.toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 0.88px rgba(0, 0, 0, 0.22);
  width: 13px;
  height: 12.5px;
  position: absolute;
  top: 2.3px;
  left: 2.52px;
  transition: left 0.22s;
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.44);
}

.toggle-checkbox:checked + .toggle-switch {
  background: #4c34c2;
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 15px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}
.servers-para {
  color: #343434;
  font-family: "Roboto";
  font-size: 0.77rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.1px;
}
.servers-num-input,
.other-servers-num-input {
  margin-left: 0.55rem;
  margin-right: 1.21rem;
  display: flex;
  width: 3.63rem;
  height: 1.65rem;
  padding: 0.55rem 0.66rem 0.55rem 0.55rem;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #bdbdbd;
}
.arrow {
  font-size: 1.3rem;
  color: #000;
}
.servers {
  margin-left: 2.86rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.375rem;
  margin-top: -1.4rem;
}
.input-group,
.input-group-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.55rem;
}

.label {
  color: #323c47;
  font-family: "Roboto";
  font-size: 0.77rem;
  font-weight: 400;
  letter-spacing: 0.14px;
}

.input {
  background-color: rgba(123, 151, 206, 0.06);
  height: 1.8rem;
  width: 10.34rem;
  padding: 0 1.1rem;
  color: #564d4d;
  font-family: "Roboto";
  font-size: 0.66rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.1px;
  border-radius: 0.44rem;
  border: 1px solid #797171;
}
.search-options::-webkit-scrollbar {
  width: 4.5px;
}

/* Track */
.search-options::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
.search-options::-webkit-scrollbar-thumb {
  background: rgba(48, 47, 47, 0.6);
  border-radius: 8px;
}

/* Handle on hover */
.search-options::-webkit-scrollbar-thumb:hover {
  background: #515151;
}

.search-options {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 0.44rem;
  width: 10.5rem;
  height: 7rem;
  overflow-y: scroll;
  box-shadow: 0px 0px 7.04px 3.52px rgba(0, 0, 0, 0.25);
  margin-left: 0.44rem;
}
.option,
.selected-option {
  width: 100%;
  height: 1.76rem;
  display: flex;
  align-items: center;
  padding: 5.28px 0.88rem;
  font-family: "Inter";
  font-size: 0.77rem;
  line-height: 1.1rem;
  color: #424242;
  cursor: pointer;
}
.selected-option {
  border: "3px solid #AC9FF0";
}

.other {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.other-lange {
  display: flex;
  align-items: flex-start;
}
.input-group-2 {
  margin-top: -1.5rem;
}
